<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Let It Go</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styleAdd.css">
    </head>
    <body>
        
        <div class="loginTitle">
            <div>
                Delete An Enemy
            </div>
        </div>

        <div class="form">
            <form action="/delete" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
                </div>
                <button class="button" type="submit">Let It Go</button>
            </form>
        </div>
        
        <div class="center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lT0nDLCmV6s" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div class="hint">
            <a href="/">Go Back</a>
        </div>
    </body>
<html>