<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sheldon's Enemy List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styleAdd.css">
    </head>
    <body>
        <div class="loginTitle">
            <div>
                "...easily alphabetizing my list of enemies and their crimes."
            </div>
        </div>
        
        <div style="width: 560px; height: 315px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z8w7j0M_gdc"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div class="hint">
            <a href="/">Go Back</a>
        </div>
    </body>
<html>